# Dependencies
node_modules

# Build outputs
dist
build
.astro

# Turborepo
.turbo

# Bun
.bun
apps/docs/.wrangler
apps/website/.wrangler

# TypeScript
*.tsbuildinfo

# Logs
*.log

# Environment
.env
.env.*
!.env.example

# OS/editor
.DS_Store
.idea
.vscode
