# Dependencies
node_modules

# Build outputs
dist
build

# Turborepo
.turbo

# Bun
.bun

# TypeScript
*.tsbuildinfo

# Logs
*.log

# Environment
.env
.env.*
!.env.example

# OS/editor
.DS_Store
.idea
.vscode
