---
import FeatureGrid from "./FeatureGrid.astro";
import Hero from "./Hero.astro";
import LandingHeader from "./LandingHeader.astro";
import PackageCards from "./PackageCards.astro";
import RobotField from "./RobotField.astro";
---

<main class="relative isolate min-h-screen overflow-hidden bg-zinc-50 font-sans text-zinc-900 dark:bg-[#08080a] dark:text-white">
  <RobotField />
  <div class="relative z-10 mx-auto flex min-h-screen w-full max-w-6xl flex-col px-5 py-4 sm:px-8 lg:px-10">
    <LandingHeader />
    <Hero />
    <PackageCards />
    <FeatureGrid />
  </div>
</main>
